---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b3c6b6d5fcea87b4788ef0fae410ab5500a04ec7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4872'
      X-Ratelimit-Reset:
      - '1459976430'
      Etag:
      - W/"ac4121c5c74966c54bcd0c0b54d070ce"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":51311965,"name":"rush_hour","full_name":"adriennedomingus/rush_hour","owner":{"login":"adriennedomingus","id":10178677,"avatar_url":"https://avatars.githubusercontent.com/u/10178677?v=3","gravatar_id":"","url":"https://api.github.com/users/adriennedomingus","html_url":"https://github.com/adriennedomingus","followers_url":"https://api.github.com/users/adriennedomingus/followers","following_url":"https://api.github.com/users/adriennedomingus/following{/other_user}","gists_url":"https://api.github.com/users/adriennedomingus/gists{/gist_id}","starred_url":"https://api.github.com/users/adriennedomingus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/adriennedomingus/subscriptions","organizations_url":"https://api.github.com/users/adriennedomingus/orgs","repos_url":"https://api.github.com/users/adriennedomingus/repos","events_url":"https://api.github.com/users/adriennedomingus/events{/privacy}","received_events_url":"https://api.github.com/users/adriennedomingus/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/adriennedomingus/rush_hour","description":null,"fork":false,"url":"https://api.github.com/repos/adriennedomingus/rush_hour","forks_url":"https://api.github.com/repos/adriennedomingus/rush_hour/forks","keys_url":"https://api.github.com/repos/adriennedomingus/rush_hour/keys{/key_id}","collaborators_url":"https://api.github.com/repos/adriennedomingus/rush_hour/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/adriennedomingus/rush_hour/teams","hooks_url":"https://api.github.com/repos/adriennedomingus/rush_hour/hooks","issue_events_url":"https://api.github.com/repos/adriennedomingus/rush_hour/issues/events{/number}","events_url":"https://api.github.com/repos/adriennedomingus/rush_hour/events","assignees_url":"https://api.github.com/repos/adriennedomingus/rush_hour/assignees{/user}","branches_url":"https://api.github.com/repos/adriennedomingus/rush_hour/branches{/branch}","tags_url":"https://api.github.com/repos/adriennedomingus/rush_hour/tags","blobs_url":"https://api.github.com/repos/adriennedomingus/rush_hour/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/adriennedomingus/rush_hour/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/adriennedomingus/rush_hour/git/refs{/sha}","trees_url":"https://api.github.com/repos/adriennedomingus/rush_hour/git/trees{/sha}","statuses_url":"https://api.github.com/repos/adriennedomingus/rush_hour/statuses/{sha}","languages_url":"https://api.github.com/repos/adriennedomingus/rush_hour/languages","stargazers_url":"https://api.github.com/repos/adriennedomingus/rush_hour/stargazers","contributors_url":"https://api.github.com/repos/adriennedomingus/rush_hour/contributors","subscribers_url":"https://api.github.com/repos/adriennedomingus/rush_hour/subscribers","subscription_url":"https://api.github.com/repos/adriennedomingus/rush_hour/subscription","commits_url":"https://api.github.com/repos/adriennedomingus/rush_hour/commits{/sha}","git_commits_url":"https://api.github.com/repos/adriennedomingus/rush_hour/git/commits{/sha}","comments_url":"https://api.github.com/repos/adriennedomingus/rush_hour/comments{/number}","issue_comment_url":"https://api.github.com/repos/adriennedomingus/rush_hour/issues/comments{/number}","contents_url":"https://api.github.com/repos/adriennedomingus/rush_hour/contents/{+path}","compare_url":"https://api.github.com/repos/adriennedomingus/rush_hour/compare/{base}...{head}","merges_url":"https://api.github.com/repos/adriennedomingus/rush_hour/merges","archive_url":"https://api.github.com/repos/adriennedomingus/rush_hour/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/adriennedomingus/rush_hour/downloads","issues_url":"https://api.github.com/repos/adriennedomingus/rush_hour/issues{/number}","pulls_url":"https://api.github.com/repos/adriennedomingus/rush_hour/pulls{/number}","milestones_url":"https://api.github.com/repos/adriennedomingus/rush_hour/milestones{/number}","notifications_url":"https://api.github.com/repos/adriennedomingus/rush_hour/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/adriennedomingus/rush_hour/labels{/name}","releases_url":"https://api.github.com/repos/adriennedomingus/rush_hour/releases{/id}","deployments_url":"https://api.github.com/repos/adriennedomingus/rush_hour/deployments","created_at":"2016-02-08T17:02:41Z","updated_at":"2016-02-08T17:06:06Z","pushed_at":"2016-03-05T00:20:49Z","git_url":"git://github.com/adriennedomingus/rush_hour.git","ssh_url":"git@github.com:adriennedomingus/rush_hour.git","clone_url":"https://github.com/adriennedomingus/rush_hour.git","svn_url":"https://github.com/adriennedomingus/rush_hour","homepage":null,"size":136,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"open_issues_count":0,"forks":2,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":49018536,"name":"http_server","full_name":"amaxwellblair/http_server","owner":{"login":"amaxwellblair","id":14204884,"avatar_url":"https://avatars.githubusercontent.com/u/14204884?v=3","gravatar_id":"","url":"https://api.github.com/users/amaxwellblair","html_url":"https://github.com/amaxwellblair","followers_url":"https://api.github.com/users/amaxwellblair/followers","following_url":"https://api.github.com/users/amaxwellblair/following{/other_user}","gists_url":"https://api.github.c[...]
