---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b3c6b6d5fcea87b4788ef0fae410ab5500a04ec7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4871'
      X-Ratelimit-Reset:
      - '1459976430'
      Etag:
      - W/"1fab0bf330c062cf9dce033aa804ddcc"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":23230424,"name":"lesson_plans","full_name":"turingschool/lesson_plans","owner":{"login":"turingschool","id":7934292,"avatar_url":"https://avatars.githubusercontent.com/u/7934292?v=3","gravatar_id":"","url":"https://api.github.com/users/turingschool","html_url":"https://github.com/turingschool","followers_url":"https://api.github.com/users/turingschool/followers","following_url":"https://api.github.com/users/turingschool/following{/other_user}","gists_url":"https://api.github.com/users/turingschool/gists{/gist_id}","starred_url":"https://api.github.com/users/turingschool/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turingschool/subscriptions","organizations_url":"https://api.github.com/users/turingschool/orgs","repos_url":"https://api.github.com/users/turingschool/repos","events_url":"https://api.github.com/users/turingschool/events{/privacy}","received_events_url":"https://api.github.com/users/turingschool/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/turingschool/lesson_plans","description":"Lesson
        Plans for the Turing School of Software & Design","fork":false,"url":"https://api.github.com/repos/turingschool/lesson_plans","forks_url":"https://api.github.com/repos/turingschool/lesson_plans/forks","keys_url":"https://api.github.com/repos/turingschool/lesson_plans/keys{/key_id}","collaborators_url":"https://api.github.com/repos/turingschool/lesson_plans/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/turingschool/lesson_plans/teams","hooks_url":"https://api.github.com/repos/turingschool/lesson_plans/hooks","issue_events_url":"https://api.github.com/repos/turingschool/lesson_plans/issues/events{/number}","events_url":"https://api.github.com/repos/turingschool/lesson_plans/events","assignees_url":"https://api.github.com/repos/turingschool/lesson_plans/assignees{/user}","branches_url":"https://api.github.com/repos/turingschool/lesson_plans/branches{/branch}","tags_url":"https://api.github.com/repos/turingschool/lesson_plans/tags","blobs_url":"https://api.github.com/repos/turingschool/lesson_plans/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/turingschool/lesson_plans/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/turingschool/lesson_plans/git/refs{/sha}","trees_url":"https://api.github.com/repos/turingschool/lesson_plans/git/trees{/sha}","statuses_url":"https://api.github.com/repos/turingschool/lesson_plans/statuses/{sha}","languages_url":"https://api.github.com/repos/turingschool/lesson_plans/languages","stargazers_url":"https://api.github.com/repos/turingschool/lesson_plans/stargazers","contributors_url":"https://api.github.com/repos/turingschool/lesson_plans/contributors","subscribers_url":"https://api.github.com/repos/turingschool/lesson_plans/subscribers","subscription_url":"https://api.github.com/repos/turingschool/lesson_plans/subscription","commits_url":"https://api.github.com/repos/turingschool/lesson_plans/commits{/sha}","git_commits_url":"https://api.github.com/repos/turingschool/lesson_plans/git/commits{/sha}","comments_url":"https://api.github.com/repos/turingschool/lesson_plans/comments{/number}","issue_comment_url":"https://api.github.com/repos/turingschool/lesson_plans/issues/comments{/number}","contents_url":"https://api.github.com/repos/turingschool/lesson_plans/contents/{+path}","compare_url":"https://api.github.com/repos/turingschool/lesson_plans/compare/{base}...{head}","merges_url":"https://api.github.com/repos/turingschool/lesson_plans/merges","archive_url":"https://api.github.com/repos/turingschool/lesson_plans/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/turingschool/lesson_plans/downloads","issues_url":"https://api.github.com/repos/turingschool/lesson_plans/issues{/number}","pulls_url":"https://api.github.com/repos/turingschool/lesson_plans/pulls{/number}","milestones_url":"https://api.github.com/repos/turingschool/lesson_plans/milestones{/number}","notifications_url":"https://api.github.com/repos/turingschool/lesson_plans/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/turingschool/lesson_plans/labels{/name}","releases_url":"https://api.github.com/repos/turingschool/lesson_plans/releases{/id}","deployments_url":"https://api.github.com/repos/turingschool/lesson_plans/deployments","created_at":"2014-08-22T15:39:18Z","updated_at":"2016-04-06T00:30:40Z","pushed_at":"2016-04-06T18:11:42Z","git_url":"git://github.com/turingschool/lesson_plans.git","ssh_url":"git@github.com:turingschool/lesson_plans.git","clone_url":"https://github.com/turingschool/lesson_plans.git","svn_url":"https://github.com/turingschool/lesson_plans","homepage":null,"size":5209,"stargazers_count":80,"watchers_count":80,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":148,"mirror_url":null,"open_issues_count":16,"forks":148,"open_issues":16,"watchers":80,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}}]'
  recorded_at: Wed, 06 Apr 2016 20:54:58 GMT
recorded_with: VCR 3.0.1
