---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b3c6b6d5fcea87b4788ef0fae410ab5500a04ec7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4868'
      X-Ratelimit-Reset:
      - '1459976430'
      Etag:
      - W/"8084aaadb154b4f14efe5d3fe197472f"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"amaxwellblair","id":14204884,"avatar_url":"https://avatars.githubusercontent.com/u/14204884?v=3","gravatar_id":"","url":"https://api.github.com/users/amaxwellblair","html_url":"https://github.com/amaxwellblair","followers_url":"https://api.github.com/users/amaxwellblair/followers","following_url":"https://api.github.com/users/amaxwellblair/following{/other_user}","gists_url":"https://api.github.com/users/amaxwellblair/gists{/gist_id}","starred_url":"https://api.github.com/users/amaxwellblair/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/amaxwellblair/subscriptions","organizations_url":"https://api.github.com/users/amaxwellblair/orgs","repos_url":"https://api.github.com/users/amaxwellblair/repos","events_url":"https://api.github.com/users/amaxwellblair/events{/privacy}","received_events_url":"https://api.github.com/users/amaxwellblair/received_events","type":"User","site_admin":false}]'
  recorded_at: Wed, 06 Apr 2016 20:59:06 GMT
- request:
    method: get
    uri: https://api.github.com/users/amaxwellblair/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b3c6b6d5fcea87b4788ef0fae410ab5500a04ec7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4867'
      X-Ratelimit-Reset:
      - '1459976430'
      Etag:
      - W/"b8f64e845877ced403a960f0cf9ee2cf"
      Last-Modified:
      - Wed, 06 Apr 2016 15:08:46 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/14204884/events?page=2>; rel="next", <https://api.github.com/user/14204884/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3854155545","type":"PushEvent","actor":{"id":14204884,"login":"amaxwellblair","gravatar_id":"","url":"https://api.github.com/users/amaxwellblair","avatar_url":"https://avatars.githubusercontent.com/u/14204884?"},"repo":{"id":50644433,"name":"amaxwellblair/blog","url":"https://api.github.com/repos/amaxwellblair/blog"},"payload":{"push_id":1054044384,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"6b12f5f882f6ecfcdb5a07c3abaf6df607bf9cf6","before":"81371d2e8636b8cbe7d161f79d724f8cf23601dd","commits":[{"sha":"6b12f5f882f6ecfcdb5a07c3abaf6df607bf9cf6","author":{"email":"amaxwellblair@gmail.com","name":"Allan"},"message":"Small
        nits to the Resume","distinct":true,"url":"https://api.github.com/repos/amaxwellblair/blog/commits/6b12f5f882f6ecfcdb5a07c3abaf6df607bf9cf6"}]},"public":true,"created_at":"2016-04-06T15:08:46Z"},{"id":"3854039515","type":"PushEvent","actor":{"id":14204884,"login":"amaxwellblair","gravatar_id":"","url":"https://api.github.com/users/amaxwellblair","avatar_url":"https://avatars.githubusercontent.com/u/14204884?"},"repo":{"id":50644433,"name":"amaxwellblair/blog","url":"https://api.github.com/repos/amaxwellblair/blog"},"payload":{"push_id":1054004930,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"81371d2e8636b8cbe7d161f79d724f8cf23601dd","before":"6cb9d[...]
