---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/julyytran/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b3c6b6d5fcea87b4788ef0fae410ab5500a04ec7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4870'
      X-Ratelimit-Reset:
      - '1459976430'
      Etag:
      - W/"c6f57cccd7a5d3cea0e62d59d10b336a"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"ThePivotHJJJ","id":17993028,"url":"https://api.github.com/orgs/ThePivotHJJJ","repos_url":"https://api.github.com/orgs/ThePivotHJJJ/repos","events_url":"https://api.github.com/orgs/ThePivotHJJJ/events","hooks_url":"https://api.github.com/orgs/ThePivotHJJJ/hooks","issues_url":"https://api.github.com/orgs/ThePivotHJJJ/issues","members_url":"https://api.github.com/orgs/ThePivotHJJJ/members{/member}","public_members_url":"https://api.github.com/orgs/ThePivotHJJJ/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/17993028?v=3","description":null}]'
  recorded_at: Wed, 06 Apr 2016 20:56:21 GMT
recorded_with: VCR 3.0.1
