---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/julyytran/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b3c6b6d5fcea87b4788ef0fae410ab5500a04ec7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4869'
      X-Ratelimit-Reset:
      - '1459976430'
      Etag:
      - W/"2a234a379e4159af2234119ad81eeda5"
      Last-Modified:
      - Wed, 06 Apr 2016 20:42:14 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/14022835/events?page=2>; rel="next", <https://api.github.com/user/14022835/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3855844585","type":"PushEvent","actor":{"id":14022835,"login":"julyytran","gravatar_id":"","url":"https://api.github.com/users/julyytran","avatar_url":"https://avatars.githubusercontent.com/u/14022835?"},"repo":{"id":55439503,"name":"julyytran/apicurious","url":"https://api.github.com/repos/julyytran/apicurious"},"payload":{"push_id":1054608783,"size":2,"distinct_size":1,"ref":"refs/heads/master","head":"6f6a498a68054c5597e03c0dccaabbfd4a03d976","before":"23e8ceeab804af95a5847202665ff657aec7b137","commits":[{"sha":"e6b4388446e03cfd6d963c7eaf1d5d1da5a69e4a","author":{"email":"julyytran@gmail.com","name":"July
        Tran"},"message":"create openstruct objects and change calls to user info","distinct":false,"url":"https://api.github.com/repos/julyytran/apicurious/commits/e6b4388446e03cfd6d963c7eaf1d5d1da5a69e4a"},{"sha":"6f6a498a68054c5597e03c0dccaabbfd4a03d976","author":{"email":"julyytran@gmail.com","name":"July
        Tran"},"message":"Merge pull request #20 from julyytran/19-make-openstruct-objects\n\ncreate
        openstruct objects and change calls to user info","distinct":true,"url":"https://api.github.com/repos/julyytran/apicurious/commits/6f6a498a68054c5597e03c0dccaabbfd4a03d976"}]},"public":true,"created_at":"2016-04-06T20:42:14Z"},{"id":"3855844551","type":"PullRequestEvent","actor":{"id":14022835,"login":"julyytran","gravatar_id":"","url":"https://api.github.com/users/julyytran","avatar_url":"https://avatars.githubusercontent.com/u/14022835?"},"repo":{"id":55439503,"name":"julyytran/apicurious","url":"https://api.github.com/repos/julyytran/apicurious"},"payload":{"action":"closed","number":20,"pull_request":{"url":"https://api.github.com/repos/julyytran/apicurious/pulls/20","id":65532665,"html_url":"https://github.com/julyytran/apicurious/pull/20","diff_url":"https://github.com/julyytran/apicurious/pull/20.diff","patch_url":"https://github.com/julyytran/apicurious/pull/20.patch","issue_url":"https://api.github.com/repos/julyytran/apicurious/issues/20","number":20,"state":"closed","locked":false,"title":"create
        openstruct objects and change calls to user info","user":{"login":"julyytran","id":14022835,"avatar_url":"https://avatars.githubusercontent.com/u/14022835?v=3","gravatar_id":"","url":"https://api.github.com/users/julyytran","html_url":"https://github.com/julyytran","followers_url":"https://api.github.com/users/julyytran/followers","following_url":"https://api.github.com/users/julyytran/following{/other_user}","gists_url":"https://api.github.com/users/julyytran/gists{/gist_id}","starred_url":"https://api.github.com/users/julyytran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/julyytran/subscriptions","organizations_url":"https://api.github.com/users/julyytran/orgs","repos_url":"https://api.github.com/users/julyytran/repos","events_url":"https://api.github.com/users/julyytran/events{/privacy}","received_events_url":"https://api.github.com/users/julyytran/received_events","type":"User","site_admin":false},"body":"Closes
        #19","created_at":"2016-04-06T20:41:37Z","updated_at":"2016-04-06T20:42:14Z","closed_at":"2016-04-06T20:42:13Z","merged_at":"2016-04-06T20:42:13Z","merge_commit_sha":"6f6a498a68054c5597e03c0dccaabbfd4a03d976","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/julyytran/apicurious/pulls/20/commits","review_comments_url":"https://api.github.com/repos/julyytran/apicurious/pulls/20/comments","review_comment_url":"https://api.github.com/repos/julyytran/apicurious/pulls/comments{/number}","comments_url":"https://api.github.com/repos/julyytran/apicurious/issues/20/comments","statuses_url":"https://api.github.com/repos/julyytran/apicurious/statuses/e6b4388446e03cfd6d963c7eaf1d5d1da5a69e4a","head":{"label":"julyytran:19-make-openstruct-objects","ref":"19-make-openstruct-objects","sha":"e6b4388446e03cfd6d963c7eaf1d5d1da5a69e4a","user":{"login":"julyytran","id":14022835,"avatar_url":"https://avatars.githubusercontent.com/u/14022835?v=3","gravatar_id":"","url":"https://api.github.com/users/julyytran","html_url":"https://github.com/julyytran","followers_url":"https://api.github.com/users/julyytran/followers","following_url":"https://api.github.com/users/julyytran/following{/other_user}","gists_url":"https://api.github.com/users/julyytran/gists{/gist_id}","starred_url":"https://api.github.com/users/julyytran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/julyytran/subscriptions","organizations_url":"https://api.github.com/users/julyytran/orgs","repos_url":"https://api.github.com/users/julyytran/repos","events_url":"https://api.github.com/users/julyytran/events{/privacy}","received_events_url":"https://api.github.com/users/julyytran/received_events","type":"User","site_admin":false},"repo":{"id":55439503,"name":"apicurious","full_name":"julyytran/apicurious","owner":{"login":"julyytran","id":14022835,"avatar_url":"https://avatars.githubusercontent.com/u/14022835?v=3","gravatar_id":"","url":"https://api.github.com/users/julyytran","html_url":"https://github.com/julyytran","followers_url":"https://api.github.com/users/julyytran/followers","following_url":"https://api.github.com/users/julyytran/following{/other_user}","gists_url":"https://api.github.com/users/julyytran/gists{/gist_id}","starred_url":"https://api.github.com/users/julyytran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/julyytran/subscriptions","organizations_url":"https://api.github.com/users/julyytran/orgs","repos_url":"https://api.github.com/users/julyytran/repos","events_url":"https://api.github.com/users/julyytran/events{/privacy}","received_events_url":"https://api.github.com/users/julyytran/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/julyytran/apicurious","description":"Consume
        Github API and reproduce the info","fork":false,"url":"https://api.github.com/repos/julyytran/apicurious","forks_url":"https://api.github.com/repos/julyytran/apicurious/forks","keys_url":"https://api.github.com/repos/julyytran/apicurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/julyytran/apicurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/julyytran/apicurious/teams","hooks_url":"https://api.github.com/repos/julyytran/apicurious/hooks","issue_events_url":"https://api.github.com/repos/julyytran/apicurious/issues/events{/number}","events_url":"https://api.github.com/repos/julyytran/apicurious/events","assignees_url":"https://api.github.com/repos/julyytran/apicurious/assignees{/user}","branches_url":"https://api.github.com/repos/julyytran/apicurious/branches{/branch}","tags_url":"https://api.github.com/repos/julyytran/apicurious/tags","blobs_url":"https://api.github.com/repos/julyytran/apicurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/julyytran/apicurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/julyytran/apicurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/julyytran/apicurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/julyytran/apicurious/statuses/{sha}","languages_url":"https://api.github.com/repos/julyytran/apicurious/languages","stargazers_url":"https://api.github.com/repos/julyytran/apicurious/stargazers","contributors_url":"https://api.github.com/repos/julyytran/apicurious/contributors","subscribers_url":"https://api.github.com/repos/julyytran/apicurious/subscribers","subscription_url":"https://api.github.com/repos/julyytran/apicurious/subscription","commits_url":"https://api.github.com/repos/julyytran/apicurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/julyytran/apicurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/julyytran/apicurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/julyytran/apicurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/julyytran/apicurious/contents/{+path}","compare_url":"https://api.github.com/repos/julyytran/apicurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/julyytran/apicurious/merges","archive_url":"https://api.github.com/repos/julyytran/apicurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/julyytran/apicurious/downloads","issues_url":"https://api.github.com/repos/julyytran/apicurious/issues{/number}","pulls_url":"https://api.github.com/repos/julyytran/apicurious/pulls{/number}","milestones_url":"https://api.github.com/repos/julyytran/apicurious/milestones{/number}","notifications_url":"https://api.github.com/repos/julyytran/apicurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/julyytran/apicurious/labels{/name}","releases_url":"https://api.github.com/repos/julyytran/apicurious/releases{/id}","deployments_url":"https://api.github.com/repos/julyytran/apicurious/deployments","created_at":"2016-04-04T19:40:59Z","updated_at":"2016-04-04T19:50:41Z","pushed_at":"2016-04-06T20:42:13Z","git_url":"git://github.com/julyytran/apicurious.git","ssh_url":"git@github.com:julyytran/apicurious.git","clone_url":"https://github.com/julyytran/apicurious.git","svn_url":"https://github.com/julyytran/apicurious","homepage":null,"size":61,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":2,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master"}},"base":{"label":"julyytran:master","ref":"master","sha":"23e8ceeab804af95a5847202665ff657aec7b137","user":{"login":"julyytran","id":14022835,"avatar_url":"https://avatars.githubusercontent.com/u/14022835?v=3","gravatar_id":"","url":"https://api.github.com/users/julyytran","html_url":"https://github.com/julyytran","followers_url":"https://api.github.com/users/julyytran/followers","following_url":"https://api.github.com/users/julyytran/following{/other_user}","gists_url":"https://api.github.com/users/jul[...]
