---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b3c6b6d5fcea87b4788ef0fae410ab5500a04ec7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4878'
      X-Ratelimit-Reset:
      - '1459976430'
      Etag:
      - W/"8084aaadb154b4f14efe5d3fe197472f"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"amaxwellblair","id":14204884,"avatar_url":"https://avatars.githubusercontent.com/u/14204884?v=3","gravatar_id":"","url":"https://api.github.com/users/amaxwellblair","html_url":"https://github.com/amaxwellblair","followers_url":"https://api.github.com/users/amaxwellblair/followers","following_url":"https://api.github.com/users/amaxwellblair/following{/other_user}","gists_url":"https://api.github.com/users/amaxwellblair/gists{/gist_id}","starred_url":"https://api.github.com/users/amaxwellblair/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/amaxwellblair/subscriptions","organizations_url":"https://api.github.com/users/amaxwellblair/orgs","repos_url":"https://api.github.com/users/amaxwellblair/repos","events_url":"https://api.github.com/users/amaxwellblair/events{/privacy}","received_events_url":"https://api.github.com/users/amaxwellblair/received_events","type":"User","site_admin":false}]'
  recorded_at: Wed, 06 Apr 2016 20:49:32 GMT
recorded_with: VCR 3.0.1
