<ul class="nav nav-tabs nav-justified">
    <% if current_user %>
    <li><a class="text-success" href="#">Contributions </a></li>
    <li><a class="text-success" href="#">Feed </a></li>
    <li> <%= link_to "Account Info", user_path(current_user) %> </li>
        <li>  <%= link_to "Hello, #{current_user.name}", root_path %> </li>
        <li> <%= link_to "Logout", logout_path, method: :delete %> </li>
    <% else %>
        <li>  <%= link_to "Login", github_login_path %> </li>
    <% end %>
</ul>
